@using Sarc.WebApp.Models.Analista
@model SolucionCasoViewModel
@{
    ViewData["Title"] = "Analista / Solución Caso";
}

<div class="container-fluid">
    <div class="row gx-4 mb-5">
        <div class="col-sm-12">
            <form id="frmRegistro" enctype="multipart/form-data" asp-action="SolucionCaso">
                <div class="card-header fw-bold">
                    <input hidden id="Caso_ProductoId" value="@Model?.Caso?.ProductoId" class="form-control form-control-sm">
                    <input hidden id="Caso_ServicioId" value="@Model?.Caso?.ServicioId" class="form-control form-control-sm">
                    <input type="hidden" value="@Model?.Caso?.TipoServicio" asp-for="Caso.TipoServicio">
                    <input type="hidden" asp-for="UpdateCaso.SucursalSolucion" value="@Model?.Caso?.Sucursal">
                    <input type="hidden" asp-for="UpdateRespuesta.NroCarta" value="@Model?.Caso?.NroCaso">

                    @switch (@Model?.Caso?.TipoServicio)
                    {
                        case "S":
                            <span>SOLICITUD</span>
                            break;
                        case "R":
                            <span>RECLAMO</span>
                            break;
                        case "C":
                            <span>CONSULTA</span>
                            break;
                        default:
                            <span> </span>
                            break;
                    }
                </div>
                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label asp-for="UpdateCaso.NroCarta" class="form-label"></label>
                                <input asp-for="UpdateCaso.NroCarta" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.NroCaso">
                            </div>

                            <div class="col-sm-6">
                                <label asp-for="Caso.FuncionarioAtencion" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.FuncionarioAtencion">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3">
                    <div class="card-header fw-bold">Datos Cliente</div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-4">
                                <label asp-for="Caso.ClienteIdc" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.ClienteIdc">
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Caso.ClienteTipo" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.ClienteTipo">
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Caso.ClienteExtension" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.ClienteExtension">
                            </div>
                            <div class="col-sm-12">
                                <label asp-for="Caso.ApellidoPaterno" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.ApellidoPaterno">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Caso.ApellidoMaterno" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.ApellidoMaterno">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Caso.Nombres" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Nombres">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3">
                    <div class="card-header fw-bold">Detalle Caso</div>
                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-sm-12">
                                <label asp-for="Caso.Producto" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Producto">
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="Caso.Servicio" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" id="servicio" readonly
                                       value="@Model.Caso.Servicio">
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="DevCob.NroCuentaPR" class="form-label"></label>
                                <input type="text" asp-for="DevCob.NroCuentaPR" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Cuenta">
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Caso.Tarjeta" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Tarjeta">
                            </div>

                            <div class="col-sm-2">
                                <label asp-for="Caso.Monto" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Monto">
                            </div>

                            <div class="col-sm-2">
                                <label asp-for="Caso.Moneda" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" readonly
                                       value="@Model.Caso.Moneda">
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="Caso.DocumentacionAdjuntaEntrada" class="form-label"></label>
                                <textarea class="form-control form-control-sm"
                                          style="height: 70px" readonly>
                                    @Model.Caso.DocumentacionAdjuntaEntrada
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3">
                    <div class="card-header fw-bold">Origen Caso</div>
                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-sm-6">
                                <label asp-for="OrigenCaso.Area" class="form-label"></label>
                                <select asp-for="OrigenCaso.Area" asp-items="Model.AreaDropDown"
                                        class="form-select form-select-sm">
                                    <option selected disabled value="">Elegir...</option>
                                </select>
                                <span asp-validation-for="OrigenCaso.Area" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-6">
                                <label asp-for="OrigenCaso.Matricula" class="form-label"></label>
                                <input asp-for="OrigenCaso.Matricula" class="form-control form-control-sm"
                                       value="@Model.Caso.UsuarioOrigen">
                                <span asp-validation-for="OrigenCaso.Matricula" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="OrigenCaso.Paterno" class="form-label"></label>
                                <input asp-for="OrigenCaso.Paterno" class="form-control form-control-sm"
                                       value="@Model.Caso.PaternoOrigen">
                                <span asp-validation-for="OrigenCaso.Paterno" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="OrigenCaso.Materno" class="form-label"></label>
                                <input asp-for="OrigenCaso.Materno" class="form-control form-control-sm"
                                       value="@Model.Caso.MaternoOrigen">
                                <span asp-validation-for="OrigenCaso.Materno" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="OrigenCaso.Nombre" class="form-label"></label>
                                <input asp-for="OrigenCaso.Nombre" class="form-control form-control-sm"
                                       value="@Model.Caso.NombresOrigen">
                                <span asp-validation-for="OrigenCaso.Nombre" class="validation-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3">
                    <div class="card-header fw-bold">Datos Solución</div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <div class="d-block">
                                    <label class="form-label" asp-for="UpdateRespuesta.ViaEnvio"></label>
                                </div>

                                @foreach (var item in Model.ViaRespuestaBtns)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                           asp-for="UpdateRespuesta.ViaEnvio"
                                           value="@item.Value" checked="@item.Selected"
                                           id="rbt-@item.Value">
                                        <label class="form-check-label" for="rbt-@item.Value">@item.Text</label>
                                    </div>
                                }

                                <div class="d-block">
                                    <span asp-validation-for="UpdateRespuesta.ViaEnvio"
                                          class="validation-text-danger"></span>
                                </div>

                            </div>

                            <div class="col-sm-4">
                                <label asp-for="UpdateRespuesta.SMS" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="UpdateRespuesta.SMS"
                                       value="@Model?.Caso?.SMSRespuesta">
                                <span asp-validation-for="UpdateRespuesta.SMS" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="UpdateRespuesta.Telefono" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="UpdateRespuesta.Telefono"
                                       value="@Model?.Caso?.TelefonoRespuesta">
                                <span asp-validation-for="UpdateRespuesta.Telefono" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="UpdateRespuesta.Email" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="UpdateRespuesta.Email"
                                       value="@Model?.Caso?.EmailRespuesta">
                                <span asp-validation-for="UpdateRespuesta.Email" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="UpdateRespuesta.Direccion" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="UpdateRespuesta.Direccion"
                                       value="@Model?.Caso?.DireccionRespuesta">
                                <span asp-validation-for="UpdateRespuesta.Direccion" class="validation-text-danger"></span>
                            </div>
                            <div class="col-sm-5">
                                <label asp-for="UpdateCaso.TipoCarta" class="form-label"></label>
                                <div class="input-group">
                                    <select class="form-select form-select-sm" asp-for="UpdateCaso.TipoCarta"
                                            asp-items="@Model.CartaDropDown"></select>
                                    <button type="button" onclick="DescargarCarta()" class="btn btn-outline-success btn-sm"><i class="fas fa-file-download"></i></button>
                                </div>
                                <span asp-validation-for="UpdateCaso.TipoCarta" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-7">
                                <label class="form-label">Documentación Caso</label>
                                <input type="hidden" asp-for="Caso.RutaSharepoint" />
                                <p><a href="@Model?.Caso?.RutaSharepoint" target="_blank">@Model?.Caso?.RutaSharepoint</a></p>
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="Files" class="form-label"></label>
                                <input class="form-control form-control-sm" type="file" asp-for="Files" multiple onchange="ShowListFiles()">
                                <span asp-validation-for="Files" class="validation-text-danger"></span>
                                <div id="fileList"></div>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="InfoAdicional.Riesgo" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="InfoAdicional.Riesgo"
                                        asp-items="@Model.RiesgoDropDown">
                                    <option value="" selected>Elegir...</option>
                                </select>
                                <span asp-validation-for="InfoAdicional.Riesgo" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="InfoAdicional.Tiempo" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="InfoAdicional.Tiempo"
                                        asp-items="@Model.TiempoDropDown">
                                    <option value="" selected>Elegir...</option>
                                </select>
                                <span asp-validation-for="InfoAdicional.Tiempo" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="InfoAdicional.Proceso" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="InfoAdicional.Proceso"
                                        asp-items="@Model.ProcesoDropDown">
                                    <option value="" selected>Elegir...</option>
                                </select>
                                <span asp-validation-for="InfoAdicional.Proceso" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-6">
                                <label asp-for="UpdateCaso.TipoSolucion" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="UpdateCaso.TipoSolucion"
                                        asp-items="@Model.TipoSolucionDropDown">
                                    <option value="" selected>Elegir...</option>
                                </select>
                                <span asp-validation-for="UpdateCaso.TipoSolucion" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-6 mt-3">
                                <div class="d-block">
                                    <label class="form-label">Accion</label>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" asp-for="Accion" id="btnradioSinAccion"
                                           onclick="ShowAccion()" autocomplete="off" value="SA" checked>
                                    <label class="btn btn-outline-primary" for="btnradioSinAccion">Sin Acción</label>

                                    <input type="radio" class="btn-check" asp-for="Accion" id="btnradioDevolucion"
                                           onclick="ShowAccion()" autocomplete="off" value="D" disabled>
                                    <label class="btn btn-outline-primary" for="btnradioDevolucion">Devolución</label>

                                    <input type="radio" class="btn-check" asp-for="Accion" disabled id="btnradioCobro"
                                           onclick="ShowAccion()" autocomplete="off" value="C">
                                    <label class="btn btn-outline-primary" for="btnradioCobro">Cobro</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="UpdateCaso.DescripcionSolucion" for="validationCustom03"
                                       class="form-label"></label>
                                <textarea class="form-control form-control-sm" style="height: 50px" asp-for="UpdateCaso.DescripcionSolucion"></textarea>
                                <span asp-validation-for="UpdateCaso.DescripcionSolucion" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-12">
                                <label asp-for="UpdateCaso.DocumentoAdjuntoOut" for="validationCustom03"
                                       class="form-label"></label>
                                <textarea class="form-control form-control-sm" style="height: 50px" asp-for="UpdateCaso.DocumentoAdjuntoOut"></textarea>
                                <span asp-validation-for="UpdateCaso.DocumentoAdjuntoOut" class="validation-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*################ INICIO: DETALLE DEVOLUCION
                    ##########################################################*@
                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3" id="devolucion" hidden>
                    <div class="card-header fw-bold">Detalle de la Devolución</div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label asp-for="Devolucion.DescripcionServicio" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm"
                                       asp-for="Devolucion.DescripcionServicio" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Devolucion.Monto" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Devolucion.Monto">
                                <span asp-validation-for="Devolucion.Monto" class="validation-text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-block">
                                    <label class="form-label" asp-for="Devolucion.Moneda"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="Devolucion.Moneda"
                                           id="rbtMonedaDevolucionBol" type="radio" value="BS">
                                    <label class="form-check-label" for="rbtMonedaDevolucionBol">BS</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="Devolucion.Moneda"
                                           id="rbtMonedaDevolucionDol" type="radio" value="SUS">
                                    <label class="form-check-label" for="rbtMonedaDevolucionDol">SUS</label>
                                </div>
                                <span asp-validation-for="Devolucion.Moneda" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Devolucion.CuentaDevolucion" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm"
                                       asp-for="Devolucion.CuentaDevolucion">
                                <span asp-validation-for="Devolucion.CuentaDevolucion"
                                      class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Devolucion.ServiciosCanalesId" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="Devolucion.ServiciosCanalesId"
                                        asp-items="@Model.CuentaContableDropDown">
                                </select>
                                <span asp-validation-for="Devolucion.ServiciosCanalesId"
                                      class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Devolucion.ParametroCentro" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="Devolucion.ParametroCentro"
                                        asp-items="@Model.CentroDeCostoDropDown">
                                    <option selected disabled value="">Elegir...</option>
                                </select>
                                <span asp-validation-for="Devolucion.ParametroCentro"
                                      class="validation-text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Funcionario Atención</label>
                                <input type="text" class="form-control form-control-sm" asp-for="Analista" readonly>
                                <span asp-validation-for="Analista" class="validation-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*################ FIN: DETAALE DEVOLUCION
                    ##########################################################################*@

                @*############### INICIO: DETAALE COBRO
                    ###########################################################################*@
                <div class="card bg-bgcontent-dark rounded shadow-sm mb-3" id="cobro" hidden>
                    <div class="card-header fw-bold">Detalle del Cobro</div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label asp-for="Cobro.DescripcionServicio" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm"
                                       asp-for="Cobro.DescripcionServicio" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Cobro.Monto" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Cobro.Monto">
                                <span asp-validation-for="Cobro.Monto" class="validation-text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-block">
                                    <label class="form-label" asp-for="Cobro.Moneda"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="Cobro.Moneda" id="rbtMonedaCobroBol"
                                           type="radio" value="BS">
                                    <label class="form-check-label" for="rbtMonedaCobroBol">BS</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" asp-for="Cobro.Moneda" id="rbtMonedaCobroDol"
                                           type="radio" value="SUS">
                                    <label class="form-check-label" for="rbtMonedaCobroDol">SUS</label>
                                </div>
                                <span asp-validation-for="Cobro.Moneda" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Cobro.CuentaCobro" class="form-label"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Cobro.CuentaCobro"
                                       readonly>
                                <span asp-validation-for="Cobro.CuentaCobro" class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Cobro.ServiciosCanalesId" class="form-label"></label>
                                <select class="form-select form-select-sm" asp-for="Cobro.ServiciosCanalesId"
                                        asp-items="@Model.CuentaContableDropDown">
                                    <option selected disabled value="">Elegir...</option>
                                </select>
                                <span asp-validation-for="Cobro.ServiciosCanalesId"
                                      class="validation-text-danger"></span>
                            </div>

                            <div class="col-sm-4">
                                <label asp-for="Cobro.TipoFacturacion" class="form-label"></label>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" asp-for="Cobro.TipoFacturacion" id="FacBatch"
                                           autocomplete="off" value="B">
                                    <label class="btn btn-outline-primary" for="FacBatch">Facturacion Batch</label>

                                    <input type="radio" class="btn-check" asp-for="Cobro.TipoFacturacion"
                                           id="FactInLinne" autocomplete="off" checked value="O">
                                    <label class="btn btn-outline-primary" for="FactInLinne">Facturacion Onnline</label>
                                </div>
                                <span asp-validation-for="Cobro.ParametroCentro" class="validation-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*################ FIN: DETAALE COBRO
                    ##############################################################################*@

                <div class="row mt-5">
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-sm shadow w-100" type="submit"
                                onclick="DefineAccion()">
                            Guardar
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Url.Action("BandejadeEntrada")"
                           class="btn btn-primary btn-sm shadow w-100">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_Loading" />

@section Scripts {

<partial name="_ValidationScriptsPartial" />
<script>
    window.onload = function () {
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
        //HIddenActions();
       GetServiciosCanalesCobDev();
       GetMontoByCuentaCobro();
    };

    const GetDevServicioCanalCuentaCon = '@Url.Action("GetDevServicioCanalCuentaCon", "Casos")';
    const GetCobServicioCanalCuentaCon = '@Url.Action("GetCobServicioCanalCuentaCon", "Casos")';
    const UrlUploadFiles = '@Url.Action("UploadSharePointAsync", "Casos")';
    const urlGetCartaFile= '@Url.Action("GetCartaFile","Supervisor")';

    function DescargarCarta(){
        let tipo=document.getElementById("UpdateCaso_TipoCarta").value;
        let caso=document.getElementById("UpdateCaso_NroCarta").value;
        window.open(`${urlGetCartaFile}?tipo=${tipo}&nroCaso=${caso}`,"_blank");
    }

    function GetDocumentacionByProductos() {
        $("#Caso_ProductoId").change(
            async function () {
                const servicioId = $("#Caso_ServicioId").val();
                const productoId = $("#Caso_ProductoId").val();

                if (productoId === null || servicioId === null) {
                    return;
                }

                const request = {
                    ProductoId: productoId,
                    ServicioId: servicioId
                };
                const respuesta = await fetch(urlDocumentacionRequerida, {
                    method: 'POST',
                    body: JSON.stringify(request),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const resp = await respuesta.text();
                $("#Caso_DocumentosAdjuntoIn").html(resp);
            })
    }

    async function GetServiciosCanalesCobDev() {
        const servicioId = $("#Caso_ServicioId").val();
        const productoId = $("#Caso_ProductoId").val();

        if (servicioId === null || productoId === null) {
            return;
        }

        const reqServCanalCuenta = {
            IdProducto: productoId,
            IdServicio: servicioId
        };

        const getServCanalCuentaDev = await fetch(GetDevServicioCanalCuentaCon, {
            method: 'POST',
            body: JSON.stringify(reqServCanalCuenta),
            headers: {
                'Content-Type': 'application/json'
            }
        });

        const resServCanalCuenta = await getServCanalCuentaDev.json();
        if (resServCanalCuenta.value != null) {
            document.getElementById("btnradioDevolucion").disabled = false;
            const options = `<option value=${resServCanalCuenta.value}>${resServCanalCuenta.text}</option>`;
            $("#Devolucion_ServiciosCanalesId").html(options);
        } else {
            document.getElementById("btnradioDevolucion").disabled = true;
            document.getElementById("devolucion").hidden = true;
        }

        const getServCanalCuentaCobro = await fetch(GetCobServicioCanalCuentaCon, {
            method: 'POST',
            body: JSON.stringify(reqServCanalCuenta),
            headers: {
                'Content-Type': 'application/json'
            }
        });

        const resServCanalCuentaCobro = await getServCanalCuentaCobro.json();
        if (resServCanalCuentaCobro.length > 0) {
            document.getElementById("btnradioCobro").disabled = false;
            let options = `<option value="" selected>Elegir...</option>`;
            options += resServCanalCuentaCobro.map(r => `<option value=${r.serviciosCanales}>${r.cuentaContable}</option>`);
            $("#Cobro_ServiciosCanalesId").html(options);

        } else {
            document.getElementById("btnradioCobro").disabled = true;
            document.getElementById("cobro").hidden = true;
        }
    }

    function GetMontoByCuentaCobro() {
        $("#Cobro_ServiciosCanalesId").change(
            async function () {
                const cuenta = $("#Cobro_ServiciosCanalesId").val();
                const servicioId = $("#Caso_ServicioId").val();
                const productoId = $("#Caso_ProductoId").val();
                const reqServCanalCuenta = {
                    IdProducto: productoId,
                    IdServicio: servicioId,
                    CuentaSelected: cuenta
                };

                  const getServCanalCuentaCobro = await fetch(GetCobServicioCanalCuentaCon, {
                                                        method: 'POST',
                                                        body: JSON.stringify(reqServCanalCuenta),
                                                        headers: {
                                                            'Content-Type': 'application/json'
                                                        }
                                                    });

                const montoCobro = await getServCanalCuentaCobro.json();
                if (montoCobro != null) {
                    document.getElementById("Cobro_Monto").value = montoCobro;
                    document.getElementById("rbtMonedaCobroBol").checked = true;
                    document.getElementById("rbtMonedaCobroDol").checked = false;
                }
            })
    }

    function GetAtmBySucursal() {
        $("#Caso_AtmSucursal").change(
            async function () {
                const sucursal = $("#Caso_AtmSucursal").val();

                const respuesta = await fetch(urlAtmUbicacion, {
                    method: 'POST',
                    body: JSON.stringify(sucursal),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const json = await respuesta.json();
                const options = json.map(s =>
                    `<option value=${s.value}>${s.text}</option>`);
                $("#Caso_AtmUbicacion").html(options);
            })
    }

    function ShowAccion() {
        let accion = document.getElementsByName("Accion");

        accion.forEach(acc => {
            if (acc.checked && acc.value == 'D') {
                document.getElementById("cobro").hidden = true;
                let devolucion = document.getElementById("devolucion");
                devolucion.hidden = false;
                let devolucionMonto = document.getElementById("Devolucion_Monto");
                let cuenta = document.getElementById("DevCob_NroCuentaPR");
                let cuentaDevolucion = document.getElementById("Devolucion_CuentaDevolucion");
                let descripcionServicio = document.getElementById("servicio");
                let descripcionServicioDevolucion = document.getElementById("Devolucion_DescripcionServicio");

                cuentaDevolucion.value = cuenta.value;
                descripcionServicioDevolucion.value = descripcionServicio.value;

            }
            else if (acc.checked && acc.value == 'C') {
                document.getElementById("devolucion").hidden = true;
                let cobro = document.getElementById("cobro");
                cobro.hidden = false;
                let cobroMonto = document.getElementById("Cobro_Monto");
                let cuenta = document.getElementById("DevCob_NroCuentaPR");
                let cuentaCobro = document.getElementById("Cobro_CuentaCobro");
                let descripcionServicio = document.getElementById("servicio");
                let descripcionServicioCobro = document.getElementById("Cobro_DescripcionServicio");

                cuentaCobro.value = cuenta.value;
                descripcionServicioCobro.value = descripcionServicio.value;

            }
            else if (acc.checked && acc?.value == 'SA') {
                let devolucion = document.getElementById("devolucion");
                devolucion.hidden = true;
                let cobro = document.getElementById("cobro");
                cobro.hidden = true;
            }
        });
    }

    function ShowListFiles() {
        var input = document.getElementById('Files');
        var output = document.getElementById('fileList');

        output.innerHTML = '<ul>';
        for (var i = 0; i < input.files.length; ++i) {
            output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML += '</ul>';
    }

    function HIddenActions() {
        let devolucion = document.getElementById("devolucion");
        devolucion.hidden = true;
    }

    function DefineAccion() {
        let accion = document.getElementsByName("Accion");

        accion.forEach(acc => {
            if (acc.checked && acc?.value == 'SA') {
                let devolucion = document.getElementById("devolucion");
                devolucion.InerHTML = "";
                let cobro = document.getElementById("cobro");
                cobro.InerHTML = "";
            }
        });

        if ($("#frmRegistro").valid()) {
            document.getElementById("_loading").hidden = false;
        };
    }
</script>
}
