@model MICREDITO.Model.Inventario.DatosDesembolso


<!--SECCION 1-->

    <label>DATOS PARA EL DESEMBOLSO</label><br />
    <div class="layout-card">
         @using (Html.BeginForm("RealizarDesembolso", "Evaluacion", FormMethod.Post))
         {
                @Html.HiddenFor(m => m.numSolicitud)
                @Html.HiddenFor(m => m.codSolicitud)
                @Html.HiddenFor(m => m.matricula)

                 <div class="row">
                     <div class="form-group label-content col-sm-4">
                         <label>NUMERO DE CUENTA</label><br />
                         @Html.TextBoxFor(m => m.contratoCronograma.cuentaDesembolso, new { @class = "form-control", data_val = true, @readonly = "readonly" })
                     </div>
                     <div class="form-group label-content col-sm-4">
                        
                     </div>
                     <div class="form-group label-content col-sm-4">
                        
                     </div>
                 </div>
                 <br />
                  <div class="row">
                      <div class="form-group label-content col-sm-4">
                          <button id="BtnSubmit" class="btn btn-primary">DESEMBOLSAR</button>
                      </div>
                     <div class="form-group label-content col-sm-4">
                        
                     </div>
                    <div class="form-group label-content col-sm-4">
       
                    </div>
                  </div>
         }
    </div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

